<p class="text-center">{{skill.languages[0]}}</p>
<p class="text-center">{{skill.languages[1]}}</p>
<p class="text-center">{{skill.languages[2]}}</p>
<p class="text-center">{{skill.languages[3]}}</p>
<p class="text-center">{{skill.languages[4]}}</p>
<p class="text-center">{{skill.languages[5]}}</p>


<h3 class="text-center">Frameworks</h3>
<p class="text-center">{{skill.frameworks[0]}} - {{skill.frameworks[1]}}</p>
<p class="text-center">{{skill.frameworks[2]}} - {{skill.frameworks[3]}}</p>
<p class="text-center">{{skill.frameworks[4]}} - {{skill.frameworks[5]}}</p>
<p class="text-center">{{skill.frameworks[6]}} - {{skill.frameworks[7]}}</p>
<p class="text-center">{{skill.frameworks[8]}} - {{skill.frameworks[9]}}</p>
<p class="text-center">{{skill.frameworks[10]}}</p> 


<h3 class="text-center">Databases</h3>
<p class="text-center">{{skill.databases[0]}}</p>
<p class="text-center">{{skill.databases[1]}}</p>
<p class="text-center">{{skill.databases[2]}}</p>