<section id="Information">
    <footer id="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 mt-3 mb-3">
                    <p class="text-center text-white">WebKyt Development Systems <span class="text-info"><i class="fas fa-copyright"></i></span> 2019.</p>
                    <p class="text-center text-white"><a href="mailto:stradtkt22@gmail.com"><span class="text-info"><i class="far fa-envelope"></i></span> stradtkt22@gmail.com</a></p>
                    <p class="text-center text-white"><a href="tel:5134491605"><span class="text-info"><i class="fas fa-phone"></i></span> (513) 449-1605</a></p>
                    <p class="text-center text-white"><span class="text-info"><i class="fas fa-map-marker-alt"></i></span> Cincinnati, Ohio</p>
                </div>
                <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 mt-3 mb-3">
                    <p class="text-center"><a href="https://github.com/stradtkt"><span class="text-info"><i class="fab fa-github"></i></span></a></p>
                    <p class="text-center"><a href="https://www.linkedin.com/in/kevin-stradtman-96b289146/"><span class="text-info"><i class="fab fa-linkedin"></i></span></a></p>
                </div>
                <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 mt-3 mb-3">
                    <ul class="nav">
                        <li class="nav-item">
                            <a href="/" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="/services" class="nav-link">Services</a>
                        </li>
                        <li class="nav-item">
                            <a href="/portfolio" class="nav-link">Portfolio</a>
                        </li>
                        <li class="nav-item">
                            <a href="/testimonials" class="nav-link">Testimonials</a>
                        </li>
                        <li class="nav-item">
                            <a href="/contact" class="nav-link">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a href="/quote" class="btn btn-info btn-round p-2">Request A Quote</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</section>