{% extends 'layout.html' %}
{% block title %} Contact WebKyt Development Systems For All Your Development Needs | Freelancer Cincinnati Ohio | {{super()}}  {% endblock %}
{% block content %}


<section class="Contact" data-type="background" data-speed="3">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h1 class="text-center contact-header-h1" data-aos="zoom-out-down" data-aos-offset="200" data-aos-delay="500" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-once="false">Contact WebKyt Development Systems</h1>
                <p class="text-center contact-header-p" data-aos="fade-left" data-aos-offset="200" data-aos-delay="1000" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-once="false">Web Development &amp; Full Stack Development</p>
            </div>
        </div>
    </div>
</section>

<section id="Contact">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 offset-2">
                <div class="text-center contact mt-5 mb-5">
                    <div class="card p3" data-aos="fade-up" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="top-center">
                        <div class="card-heading">
                            <h1 class="text-center">Contact Me</h1>
                        </div>
                        <div class="card-body">
                            <form action="contact" method="POST">
                                <div class="form-group">
                                    <input type="text" name="name" id="name" class="form-control" placeholder="Your Name...">
                                </div>
                                <div class="form-group">
                                    <input type="email" name="email" id="email" class="form-control" placeholder="Your email...">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="subject" id="subject" class="form-control" placeholder="Your Subject...">
                                </div>
                                <div class="form-group">
                                    <textarea name="msg" id="msg" cols="30" rows="10" class="form-control" placeholder="Your Message..."></textarea>
                                </div>
                                <div class="text-center">
                                    <input type="submit" value="Send" class="btn btn-info btn-round">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}