{% extends 'layout.html' %}
{% block title %} Web Development and Full Stack Development | Freelancer Cincinnati Ohio | {{super()}} {% endblock %}
{% block content %}


<section class="Home" data-type="background" data-speed="3">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="header-box">
                    <h1 class="text-center header-h1" data-aos="zoom-out-down" data-aos-offset="200" data-aos-delay="500" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-once="false">WebKyt Development Systems</h1>
                    <p class="text-center header-p" data-aos="fade-left" data-aos-offset="200" data-aos-delay="1000" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-once="false">Web Development &amp; Full Stack Development</p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                      <ul class="flashes mx-auto">
                        {% for category, message in messages %}
                          <li class="{{ category }}">{{ message }}</li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  {% endwith %}
            </div>
        </div>
    </div>

<section id="About">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-2 mb-1">
                <div class="home card p-3 text-center mt-2 mb-1">
                    <div class="mt-2 p-1">
                        <h3><i class="fas fa-rocket"></i></h3>
                        <h4>Jumpstart Your Business With A Great Site</h4>
                        <p>
                            Here at WebKyt Development Systems we provide a great design and the utmost functionality for your website.
                            We will provide a detailed plan on how every step of the process will be in developing the website.
                            We care about about you like and do not like so in the end everyone is happy.
                        </p>
                    </div>
                </div>
                <div class="home card p-3 text-center mt-2 mb-1">
                    <div class="mt-2 p-1">
                        <h3><i class="fas fa-concierge-bell"></i></h3>
                        <h4>Hosting</h4>
                        <p>
                            Here at WebKyt Development Systems we will get all of your hosting needs set up so you would not have to worry about looking elsewhere.
                            A hosting package will be provided in the final purchase price of your site, if you choose to go that direction.  We will handle all the 
                            uploading and server maintenence that is required.
                        </p>
                    </div>
                </div>
                <div class="home card p-3 text-center mt-2 mb-1">
                    <div class="mt-2 p-1">
                        <h3><i class="fas fa-tools"></i></h3>
                        <h4>Maintenence Your Website</h4>
                        <p>
                            After your site is developed we offer 1 year of free maintenence which includes:
                            <ul>
                                <li>Updating &amp; changing the CDN for whatever service has updated</li>
                                <li>If a bug has appeared we will be prompt and available to fix the problems that have occurred</li>
                                <li>You have the option to tell us to change minor style of functionality pieces that aren't working as planned</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-2 mb-1">
                <div class="home card p-3 text-center mt-2 mb-1">
                    <div class="mt-2 p-1">
                        <h3><i class="far fa-money-bill-alt"></i></h3>
                        <h4>Pay For Your Website At A Monthly Basis</h4>
                        <p>
                            Here at WebKyt Development Systems we provide an easier way to pay for your site.
                            There is no interest to pay monthly, but we would require to hold onto all assets and to also host your site
                            until all costs are paid.  This is just to secure both ends and make sure that no one runs away.
                            It can be cheaper for you in the end.  If you have other bills to pay for or other priorities to meet instead of paying a large lump sume right away.
                        </p>
                    </div>
                </div>
                <div class="home card p-3 text-center mt-2 mb-1">
                    <div class="mt-2 p-1">
                        <h3><i class="fas fa-piggy-bank"></i></h3>
                        <h4>Save Your Money And Go With A Cheaper Source</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima, reprehenderit. Officia rerum exercitationem sunt quos non tempore pariatur ipsa, fuga ipsum vitae fugiat nemo harum.
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur iste exercitationem fugiat illo atque obcaecati aspernatur temporibus mollitia incidunt impedit.
                        </p>
                    </div>
                </div>
                <div class="home card p-3 text-center mt-2 mb-1">
                    <div class="mt-2 p-1">
                        <h3><i class="fas fa-tablet-alt"></i></h3>
                        <h4>Have Your Application or Website Responsive On All Devices</h4>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo facilis deserunt alias corporis architecto adipisci ab error accusamus sunt explicabo.
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam eaque optio beatae velit architecto! Laboriosam, sint! Illo excepturi ad voluptatem.
                        </p>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</section>




{% endblock %}