{% extends 'layout.html' %}
{% block title %} Achievments In Web Development | Freelancer Cincinnati Ohio | {{super()}} {% endblock %}
{% block content %}

<section class="Contact" data-type="background" data-speed="3">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h1 class="text-center contact-header-h1" data-aos="zoom-out-down" data-aos-offset="200" data-aos-delay="500" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-once="false">Request A Quote</h1>
                <p class="text-center contact-header-p" data-aos="fade-left" data-aos-offset="200" data-aos-delay="1000" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-once="false">Web Development &amp; Full Stack Development</p>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        {% for r in resume %}
            <div class="col-12 col-md-4">
                <div class="resume card p-3">
                    <div class="card-header text-center">
                        <h1>{{r.title}}</h1>
                    </div>
                    <div class="card-body text-center">
                        <img src="/static/assets/img/{{r.img}}" alt="{{r.img_alt}}" class="img-fluid">
                        <p>{{r.desc}}</p>
                    </div>
                    <div class="card-footer text-center">
                        {{r.footer}}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}